@font-face {

    font-family: "Museo Sans Cyrl-100";

    src: url("/fonts/museosanscyrl-100.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}

@font-face {

    font-family: "Museo Sans Cyrl";

    src: url("/fonts/museosanscyrl-700.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}

@font-face {

    font-family: "Museo Sans Cyrl-300";

    src: url("/fonts/museosanscyrl-300.ttf") format("truetype");

    font-style: normal;
    font-weight: normal;
}
html {
    background-color: rgba(0, 0, 0, 0.943);
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container {
    width: 1178px;
    margin: 0 auto;
}

header {
    position: absolute;

    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.242);
    border-bottom: 1px groove grey;

}

nav {

    margin-top: 39px;


    z-index: 2;
}
.hamburger {
    display: none;
}

.menu {
    display: flex;
    justify-content: flex-end;
    margin: 0;


}

.menu .menu_item {

    padding-left: 40px;
    list-style-type: none;

}

a {
    position: relative;
    line-height: 1;
    text-decoration: none;
    color: #b5b5b6;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Museo Sans Cyrl-300';
    cursor: pointer;
}


a:after {
    display: block;
    position: absolute;

    left: 0;
    width: 0;
    height: 1px;
    background-color: #3d3d3d;
    content: "";
    transition:  0.3s ease-out;
}

a:hover {
    color: #5c5c5c;

}


a:hover:after,
a:focus:after {
    width: 100%;
   
}
a:active{
   
    background-image: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition:  0.3s ease-out;
   
}



.promo {
    width: 100%;
    height: 100%;
    background: url('/img/fon_10.png') 50%/cover no-repeat;
    border-bottom: 1px groove grey;
}

.logo {
    width: 315px;
    height: 100px;
    position: relative;
    display: block;
    margin-top: -62px;
    border: 1px groove rgba(128, 128, 128, 0.527);
    padding: 26px;

}

.logo:before,
.logo:after,
.logo span:before,
.logo span:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
}

.logo:before {
    top: -1px;
    left: -1px;
    border-top: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
}

.logo:after {
    top: -1px;
    right: -1px;
    border-top: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}

.logo span:before {
    bottom: -1px;
    left: -1px;
    border-bottom: 1px solid #f7f7f7;
    border-left: 1px solid #f7f7f7;
}

.logo span:after {
    bottom: -1px;
    right: -1px;
    border-bottom: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
}



.logo .logo_img {
    display: inline-block;
}

.main_text {
    position: absolute;
    display: block;
    margin-top: 204px;
}

.circle {
    position: absolute;
    display: block;
    margin-top: 230px;

}

h1 {

    font-family: 'Museo Sans Cyrl';
    font-size: 58px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background-image: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    clip-path: polygon(0% 1%, 0 100%, 23% 100%, 57% 100%, 81% 100%, 94% 100%, 96% 75%, 97% 56%, 100% 30%, 100% 0);
}

h3 {
    font-family: 'Museo Sans Cyrl-300';
    font-size: 25px;
    font-weight: 100;
    text-transform: none;
    margin-top: -8px;
    color: #ffffff;
    background-image: linear-gradient(-90.0deg, #ff3f04 0%, #ffffff 90%, #ffffff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.benefits {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1178px;
    height: 660px;
    align-content: flex-end;
    padding: 141px 0 142px 0;
}

.row {
    margin-top: 9px;
    margin-left: 9px;
}

.benefits_item {
    cursor: pointer;
    position: relative;
    width: 172px;
    height: 172px;

    margin: 0 auto;

}


.benefits_item_1 {
    opacity: 0.3;
    background: linear-gradient(150deg, rgba(7, 7, 7, 0), rgba(250, 249, 249, 0.098));

}

.benefits_item_1:hover {
    content: "";
    opacity: 0.9;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to left top, #484c53 25%, transparent 50%);
    border-image-slice: 1;
}
.benefits_item_1:active {
    
    opacity: 0.5;
    
}

.benefits_item_2 {
    background: linear-gradient(50deg, rgba(7, 7, 7, 0), rgba(250, 249, 249, 0.098));
    opacity: 0.3;

}

.benefits_item_2:hover {
    content: "";
    opacity: 0.9;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-image: linear-gradient(to left bottom, #484c53 25%, transparent 50%);
    border-image-slice: 1;
}
.benefits_item_2:active {
    
    opacity: 0.5;
    
}

.benefits_item_3 {
    background: linear-gradient(250deg, rgba(7, 7, 7, 0), rgba(250, 249, 249, 0.098));
    opacity: 0.3;

}

.benefits_item_3:hover {
    content: "";
    opacity: 0.9;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-image: linear-gradient(to right top, #484c53 25%, transparent 50%);
    border-image-slice: 1;
}
.benefits_item_3:active {
    
    opacity: 0.5;
    
}

.benefits_item_4 {
    background: linear-gradient(350deg, rgba(7, 7, 7, 0), rgba(250, 249, 249, 0.098));
    opacity: 0.3;

}

.benefits_item_4:hover {
    content: "";
    opacity: 0.9;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-image: linear-gradient(to right bottom, #484c53 25%, transparent 50%);
    border-image-slice: 1;
}
.benefits_item_4:active {
    
    opacity: 0.5;
    
}

.benefits_item_subtitle {
    font-family: 'Museo Sans Cyrl';
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    opacity: 1;

}

.benefits_item_title1 {
    font-family: 'Museo Sans Cyrl-300';
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    padding: 25px 0 8px 0;
}

.benefits_item_title2 {
    font-family: 'Museo Sans Cyrl-300';
    font-size: 18px;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
    padding: 0;
    margin-top: -10px;
}

.button {
    background-color: #070b0f;
    margin-top: 86px;
    width: 180px;
    height: 35px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(189.0deg, #263e66 20%, #09213d 40%, #111f2d 61%, #23599c 79%);
    border-image-slice: 1;
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: 'Museo Sans Cyrl-100';
    font-size: 14px;
    line-height: 1.2;
    color: #9d9ea0;

}
button.button:active {
    box-shadow: 0 0 10px #ff3b05, 0 0 10px #502015;
    color: #ffffff;
    background-color:  #ff4d177a;
    border-image-source: linear-gradient(189.0deg, #fc9e46 20%, #ff4e17 40%, #ff9a17, #ff4e17 79%);
    transition: 0.1s all;
}

.button:hover {
    box-shadow: 0 0 10px #ff4e17, 0 0 10px #ff4e17;
    color: #ffffff;
    background-color: #ff4d177a;
    border-image-source: linear-gradient(189.0deg, #ff8717 20%, #ff4e17 40%, #ff9a17, #ff4e17 79%);
    transition-delay: 0.1s;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;



}

.btn:before {
    top: 204px;
    left: 0px;
    border-bottom: 1.5px solid transparent;
    border-left: 1.5px solid transparent;
    border-image: linear-gradient(to right top, #ffffff 25%, transparent 50%, transparent 30%, #96969651 30%);
    border-image-slice: 1;
    box-shadow: -4px 4px 7px 0px rgba(255, 255, 255, 0.3);
}

.btn:after {

    top: 177px;
    left: 172px;
    border-top: 1.5px solid transparent;
    border-right: 1.5px solid transparent;
    border-image: linear-gradient(to left bottom, #ffffff 25%, transparent 50%, transparent 30%, #ffffff 30%);
    border-image-slice: 1;
    box-shadow: 4px -4px 7px 0px rgba(255, 255, 255, 0.3);


}





.line-middle {
    position: relative;
    top: 7px;
    left: 174px;
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #dcccc842 7%, transparent 100%);
    border-image-slice: 1;
    width: 90px;
    height: 0px;
    transform: rotate(40deg);
}

.line-second {
    border-top: 2px solid transparent;
    border-image: linear-gradient(to left, #dcccc8bb 80%, transparent 100%);
    border-image-slice: 1;
    width: 60%;
    position: relative;
    top: 36px;
    left: 156px;
    width: 337px;
    float: right;
}
.circle {
    border: 2px solid #e8d5d197;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    left: 586px;
    top: 16px;
}

